<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(23, 120, 120);
        }
        .td{
            color: white;
            font-size: 30px;
        }
        th{
            font-size: 30px;
        }
        #shortener{
            margin-left: 600px;
            margin-top: 100px;
        }
        input{
            border: none;
            padding: 15px 40px;
            background-color: rgb(8, 73, 73);
            border-radius: 30px;
        }
        input[type="text"]{
            color: white;
            font-size: 20px;
        }
        .text{
            color: white;
            font-size: 30px;
        }
        button{
            color: white;
            background: none;
            border: none;
            font-size: 30px;
            border: 4px solid black;
            padding: 10px 10px;
        }
        #url_generate{
            font-size: 30px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
 
   <div id="shortener">
    <h1>URL Shortener</h1>
    <form method="post" action="/url">
        <label class="text"><b>Enter Your Original URL: </b></label>
        <input type="text" name="url" placeholder="https://example.com"/>
        <button type="submit" >Generate</button>
        <% if (locals.id){ %>
            <p id="url_generate"><b>URL Generate: <a href="http://localhost:8000/url/<%= id %>">http://localhost:8000/url/<%= id %></a></b></p>
    
       <% } %>
    </form>
  
   <div>
    <% if (locals.urls) { %>
     <table>
        <thead>
            
            <th>S. No</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
                <tr class="td">
             <td><b><%= index + 1 %></b></td>
             <td><b><%= url.shortId %></b></td>
             <td><b><%= url.redirectURL %></b></td>
             <td><b><%= url.visitHistory.length %></b></td>
             </tr>

            <% }) %>
        </tbody>
     </table>
    <% } %>
   </div>
</div>
</body>
</html>